{% extends 'news/default.html' %}
{% load custom_filter %}

{% block title %}
News
{% endblock title %}

{% block content %}

<table>
    <thead>
        <th>
           Title
        </th>
        <th>
            Publication date
        </th>
        <th>
            Text
        </th>
        <th>
            Author
        </th>

    </thead>

    <tr>
        <td>
            {{ one_post.title|censor }}
        </td>
        <td>
            {{ one_post.date|date:'M d Y h:m' }}
        </td>
        <td>
            {{ one_post.text|censor|truncatewords:20 }}
        </td>
        <td>
            {{ one_post.author }}
        </td>
    </tr>

</table>

{% endblock content %}