{% extends 'flatpages/default.html' %}

{% block head_title %} Кабинет пользователя {% endblock head_title %}

{% block header %}
Редактировать профайл
{% endblock header %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-xl-4 mx-auto">
            <form style="text-align: center;" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h4 style="text-align: center;">Логин</h4>
                {{ form.username }}
                <h4 style="text-align: center;">Имя</h4>
                {{ form.first_name }}
                <h4 style="text-align: center;">Фамилия</h4>
                {{ form.last_name }}
                <h4 style="text-align: center;">Дата рождения</h4>
                <input type="date" placeholder="дата рождения" class="form-control" name="date_of_birth">
                <h4 style="text-align: center;">Почтовый ящик</h4>
                {{ form.email }}<br>
                <h4 style="text-align: center;">аватар</h4>
                {{ form.avatar }}<br>
                <button class="btn btn-success" type="submit">Сохранить</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
